*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
li{
    list-style: none;
    padding: 2px;
}
body{
    background-color: #f5f5f5;
}
.clearfix{
    zoom: 1;
}
.clearfix::after{
    clear: both;
    display: block;
    content: ".";
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.container{
    background-color: #fff;
    margin: 20px auto;
    width: 700px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
content{
    width: 100%;
}
.content-left{
    width: 35%;
    margin: 10px;
    margin-right: 20px;
    float: left;
    text-align: center;
    /* margin-bottom: 60px; */
}
.content-left img{
    width: 80%;
    border-radius: 50%;
    margin-bottom: 25px;
    max-height: 200px;
    object-fit: cover;
    margin-top: 20px;
}
.content-left h2{
    text-align: center;
    color: rgb(37, 172, 172);
    margin-bottom: 20px;
}
.content-left-info{
    background-color: rgb(37, 172, 172);
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    text-align: start;
}
.content-left-info li{
    margin-bottom: 10px;
    font-size: 14px;
}
.content-left-info li i{
    margin-right: 3px;
}
.content-right-title{
    padding: 30px 20px 0 20px;
}
.content-right-title i {
    margin-right: 5px;
    font-size: 16px;
}
.content-right-title > strong{
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}
.content-right-title > h2{
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.astroWeb{
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

